.form{
    margin-top: 50px;
}

.comment-input{
    height: 250px;
    width: 800px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 12px;
    margin-left: 8px;
}

.submit-btn{
    display: block;
    background-color: #fc4f13;
    padding: 6px 10px;
    border-radius: 3px;
    margin-left: 8px;
    
}

.comments{
    background-color: rgba(252, 79, 19, 0.2);
    width: 600px;
    padding: 12px;
    border-radius: 10px;
    margin: 24px 0 12px 8px;
    overflow: hidden;
}

.commentor{
    padding: 6px 0;
    width: 130px;
    font-weight: bold;
}

@media screen and (max-width: 500px){
    .comment-input{
        width: 96%;
        height: 160px;
        margin: 8px;
    }

    .submit-btn{
        margin: 8px;
        width: 96%;
    }

    .comments{
        width: 96%;
        bottom: 12px;
    }
}