.main-component {
  margin-left: 300px;
  width: 100%;
  min-width: 100px;
  padding: 12px;
  height: 100%;
}
/* .previous-continue {
  display: flex;
  justify-content: flex-end;
}
.previous {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: rgb(
    9,
    2,
    18
  ); 
  margin-right: 7px;
  padding: 1px;
}
.continue {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  border: none;
  border-radius: 8px; 
  background-color: #fc4f13; 

  padding: 1px;
} */
.started {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.next {
  color: #fff;
} 

.course {
  display: flex;
  justify-content: flex-start;
}

.p-section {
  text-align: left;
}

/* .course-video{
  width: 1000px;
} */


@media screen and (max-width: 390px) {
  .main-component{
    margin: 0;
  }

  .h-full{
    width: 100%;
  }
  
}
  
