* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
  #root{
    font-family:  'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  


  .logo{
    width: 75px;
    height: 60px;
    padding: 12px 0 6px 14px;
    float: left;
  }
  
  

  
 
  #login-form{
    float: left;
  }

  .grey-bg{
    float: right;
  }

  .clr{
    clear: both;
  }

  .grey-bg img{
    height: 800px;
  }

  #login-form h1{
    font-weight: bold;
    font-size: 34px;
    width: 100%;
  }
  
  .first-p{
    font-weight: bold;
  }

  #login-form {
    margin-right: 20px; 
    margin-top: 40px;
    width: 500px;
    height: 580px;
    padding: 30px 50px;
    background-color: #fff;
    color: #000;
  }
  
  .input-group {
    margin: 20px 0;
  }
  
  #lab {
    display: inline-block;
    margin-bottom: 5px;
    color: #000;
    font-weight: bold;
  }
  
  .input-group input {
    display: block;
    padding: 10px;
    width: 100%;
    color: #000;
    border: 1px solid gray;
    border-radius: 6px;
  }
  
  .flex-input{
    position: relative;
  }

  .eye-icon{
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 12px;
  }

  .eye-icon:hover{
    cursor: pointer;  
  }
  
  .input-response{
    color: rgba(227, 3, 3, 0.815);
    font-weight: bold;
  }

  
  #btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background-color: #fc4f13;
    color: #fff;
    border: none;
    font-size: 15px;
    border-radius: 14px;
  }
  
  #btn:hover {
    cursor: pointer;
  }
  
 

  .last-p{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
  }

  .last-p a{
    text-decoration: none;
    color: #fc4f13;
  }

  .wlc-writeup{
    position: absolute;
    color: #fff;
    bottom: 35%;
    left: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;  
  }


  .wlc-writeup b{
    color: #fc4f13;
    font-size: 35px;
  }

  .grey-bg{
    position: relative;

  }

  
/* Mobile View */
  @media screen and (max-width: 665px) {
    .grey-bg {
      width: 100%;
    }
  
    #login-form {
      margin: 0;
      width: 100%;
      float: none;
    }

    .grey-bg{
      display: none;
    }

    .logo{
      float: none;
    }
   
  }

  /* Tablet View */
  @media screen and (min-width: 666px) and (max-width: 1150px) {
    .container{
      background: url(../../assets/desktop.jpg)no-repeat center ;
      background-size: cover;
    }

    .grey-bg{
      display: none;
    }

    #login-form {
      margin: auto;
      width: 70%;
      float: none;
      background: none;
    }

    #login-form h1{
      color: #fc4f13;
      padding-top: 12px;
    }

    .first-p{
      color: #fc4f13;
    }

    .logo{
      background: none;
      width: 75px;
      height: 75px;
    }
  }