@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sign-up-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  position: relative;
  width: 100%;
}
/**!Banner styles */
section .imgBox {
  position: relative;
  width: 100%;
  z-index: -1;
  aspect-ratio: 1/1; 
}
section .imgBox .BannerText h1 {
  font-weight: 900;
  font-size: 60px;
}

section .imgBox .BannerText p {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}
section .imgBox .BannerText {
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 55%;
}
section .imgBox img {
  width:100%;
  aspect-ratio: 4/7;
  object-fit: cover;
}

/* *!form styles */
section .contentBox .formBox {
  /* width: 0%; */
  height: 100%;
  margin-bottom: 5%;
}

section .contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logoContent img {
  position: absolute;
  top: 2%;
  left: 3%;
  width: 120px;
}
.formBox h1 {
  font-weight: 600;
  font-size: 64px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.formBox p {
  font-weight: 800;
  font-size: 32px;
  text-align: left;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* *!button styles */
.button1 {
  width: 100%;
  /* height: 50px; */
  padding: 10px;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 5px;
}

.link-btn-wrapper {
  width: 100%;
  margin: 0 auto;
}

.google-btn {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 5px;
  padding: 1%;
  border: 1px solid orangered;
  text-decoration: none;
}

.btn-text p {
  color: black;
  font-size: 20px;
  margin: 0;
}

.useType {
  width: 100%;

}


#button {
  border: 1px solid #5e5e60;
  outline: none;
  padding: 10px;
  background-color: #fff;
  text-decoration: none;
  color: #5e5e60;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-radius: 8px;
}

/* *!media queries >1414px*/
@media (max-width: 1414px) {
  form {
    padding: 0;
  }

  .formBox p {
    margin-bottom: 3%;
  }
}
#accessContent #accessForm {
  transform: translateY(-30%
  );
 }
/* *!media queries >1334px*/
@media (max-width: 1334px) {
  section .imgBox {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  section .imgBox img {
    aspect-ratio: 0;
  }

  section .contentBox {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  section .contentBox .formBox {
    width: 100%;
    /* padding: 40px; */
    background: rgb(255, 255, 255/0.9);
    margin: 50px;
  }
  #form {
    background: none;
    padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .BannerText {
    display: none;
  }

  /* .SignIn,
  .spanOr,
  .formBox h1,
  p {
    color: #fff;
  } */
  .formBox p {
    margin-top: 0;
    margin-bottom: 3%;
    font-size: 28px;
  }
  .formBox h1 {
    /* margin-top: 45%; */
    font-size: 45px;
      margin-top: 20%;
  }
  .btn-text p {
    font-size: 16px;
  }
  #accessContent #accessForm {
    transform: translateY(0);
  }
}

/* *!media query >768px */
@media (max-width: 768px) {
  .imgBox {
    display: none;
  }

  section .contentBox .formBox {
    width: 100%;
  }
  .formBox h1 {
    font-size: 36px;
    color: black;
    /* margin-top: 50%; */
  }
  .formBox p {
    font-size: 20px;
    color: black;
  }
  .spanOr {
    text-align: center;
  }
  .SignIn,
  .spanOr {
    color: black;
  }
  .logoContent img{
    width: 100px
  }
}
/* *!media query > 450px */
@media (max-width: 450px) {
  .imgBox {
    display: none;
  }

  section .contentBox .formBox {
    width: 100%;
    padding: 0;
    margin: 5%;
  }
  .formBox h1 {
    font-size: 26px;
    color: black;
    margin-top: 20%;
  }
  .formBox p {
    font-size: 18px;
    color: black;
  }
  form {
    padding: 0;
  }

  .SignIn,
  .spanOr {
    color: black;
  }
  .logoContent img{
    width: 50px
  }
}